/DrillGIFActionSequenceEditor.opensdf
/DrillGIFActionSequenceEditor.sdf
/DrillGIFActionSequenceEditor.v12.suo
/ipch
/Win32
/DrillGIFActionSequenceEditor/GeneratedFiles
/DrillGIFActionSequenceEditor/DrillGIFActionSequenceEditor.vcxproj.user
/DrillGIFActionSequenceEditor/Debug
/DrillGIFActionSequenceEditor/Release
